.background {
  background-image: url('/hero/welcome-mobile.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (min-width: 768px) {
    background-size: 100% 110%;
    background-image: url('/hero/welcome-tablet.png');
  }

  @media screen and (min-width: 1440px) {
    background-image: url('/hero/welcome-desktop.png');
    background-size: contain;
  }
}

.bottle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;

  @media screen and (min-width: 768px) {
    background-image: url('/public/bottle-tablet.png');
  }
}
