@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/public/assets/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/public/assets/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/public/assets/Roboto-Regular.ttf");
}
:root {
  --primary-color-white: "FFFFFF";
  --primary-color-black: "2F2F2F";
  --primary-color-blue: "407BFF";
  --hover-color: "FF9D43";
  --error-color: "EF5050";
  --light-blue: "ECF2FF";
  --middle-blue: "9EBBFF";
  --blue: "D7E3FF";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color-white);
}
